.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.item-image {
    margin-left: 10px;
}

.content-profile {
    position: absolute;
    max-width: 300px;
    left: 20px;
    top: 30px;
    right: 50px;
}

.content-squares {
    padding-top: 20px;
    max-width: 300px;
    margin: 0 auto;
}
.card {
    min-height: 500px;
    overflow: auto;
}

.content-user-game img {
    width: 30px;
    height:30px;
    border-radius: 100%;
}