.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.item-image {
    margin-left: 10px;
}

.image-perfil {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    top: 30px;
    border-radius: 100px;
    right: 50px;
}

.content-squares {
    padding-top: 50px;
    max-width: 300px;
    margin: 0 auto;
}
.card {
    min-height: 500px;
    overflow: auto;
}