<div>
  <div class="board-row">
    <app-square [value]="0"></app-square>
    <app-square [value]="1"></app-square>
    <app-square [value]="2"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="3"></app-square>
    <app-square [value]="4"></app-square>
    <app-square [value]="5"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="6"></app-square>
    <app-square [value]="7"></app-square>
    <app-square [value]="8"></app-square>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->